h1 {
  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
  font-size: 3rem;

}

body {
  background-color: blueviolet;
}

form {
  text-align: center;
  margin: 20px;
}
